.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
}

.login-form h2 {
  margin-bottom: 1.7rem;
  text-align: center;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-form button {
  width: auto;
  min-width: 117px;
  padding: 0.6rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
}

.login-form button:hover {
  background-color: #0056b3;
}

.link-text {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
